@page
@model MatchMakerDBU.Pages.Lommeregner.DeleteSpillerModel
@{
}
@*Nikolaj*@

<div class="container border-2 rounded-2">
<h1>Slet Spiller</h1>

    <div class="row">
        <div class="col-sm-3 text-white bg-danger">

<p>Nummer:<kbd>@Model.SletSpiller.Nummer</kbd></p>
<p></p>
<p>Navn: <kbd>@Model.SletSpiller.Name</kbd></p>
<p></p>
<p>Rating:  <kbd>@Model.SletSpiller.Rating</kbd></p>
<p></p>
<p>Position:  <kbd>@Model.SletSpiller.Type</kbd></p>

<p></p>
<form method="post">
    <div class="form-group">
        <input type="submit" value="Slet Spiller" asp-page-handler="Slet" asp-route-nummer="@Model.SletSpiller.Nummer" class="btn btn-dark" />
    </div>
    <p></p>
    <div class="form-group">
        <input type="submit" value="Fortryd" asp-page-handler="Fortryd" class="btn btn-dark" />
    </div>
    <p></p>
</form>


</div>
</div>
</div>
